{% extends 'base.html.twig' %}

{% block title %}Esprit sceptique -
	{{praticien.firstName ~ ' ' ~ praticien.lastName}}
{% endblock %}

{% block body %}
{% if is_granted("IS_AUTHENTICATED_FULLY")%}
	<section>
		<div class="container">

			<div class="card mt-3 shadow mb-3">
				<div class="card-body">
					<h5 class="card-title">
						{% if "http" in praticien.site %}
							<a href="{{praticien.site}}" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-link-45deg" viewbox="0 0 16 16">
									<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
									<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
								</svg>
							</a>
						{% endif %}
						{{praticien.firstName ~ ' ' ~ praticien.lastName}}</h5>
					<hr>
					<div class="flex-box">
						<div>
							<p class="mb-2">
								<strong>Techniques :</strong>
								<ul class="list-group shadow-sm">
									{% for technique in praticien.techniques %}
										<li class="list-group-item">
											<a href="/technique/{{technique.slug}}">{{technique.name}}</a>
										</li>
									{% endfor %}
								</ul>
							</p>
							<p class="m-0">
								<strong>Nombre de signalements :</strong>
								{{praticien.reportings|length}}
							</p>
						</div>
						<p class="card-text">
							<strong>Adresse :</strong>
							{{praticien.adress}}<br>
							<strong>Code postal :</strong>
							{{praticien.zip}}<br>
							<strong>Ville :</strong>
							{{praticien.city}}<br>
							<strong>Téléphone :</strong>
							{{praticien.phone}}<br>
						</p>
					</div>
					<hr>
					<p class="mb-2 mt-3">
						<strong>Images :</strong>
					</p>
					<div class="gallerie">
						<div class="gallerie-container">
							{% for image in praticien.images %}
								<div class="mb-3 mx-1 position-relative hover-delete-image galerie-object">
									<img src="{{asset('images/')}}{{image.name}}" alt="image" class="image-preview bg-dark rounded p-0 gallerie-image">
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="float-end">
						<a data-bs-toggle="modal" data-bs-target="#modalReportPraticien" data-bs-whatever="@mdo" class="pointer btn btn-success">
							Signaler
						</a>
						<!-- REPORT MODAL -->
						<div class="modal fade" id="modalReportPraticien" tabindex="-1" attr.aria-labelledby="modalReportPraticienLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="modalReportPraticienLabel">
											Signalement
										</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>

									<div class="modal-body">
										{{form_start(form)}}
										{{form_widget(form)}}
										<button type="button" class="btn btn-danger" data-bs-dismiss="modal">
											Annuler
										</button>
										<button type="submit" class="btn btn-success">Valider</button>
										{{form_end(form)}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endif %}{% endblock %}
