{% extends 'base.html.twig' %}

{% block title %}
	{{technique.name}}
{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<div class="card mt-3 shadow mb-3">
				<div class="card-image-container">
					<img src="{{asset('images/')}}{{technique.image}}" class="card-image-top rounded" alt="image">
				</div>
				<div class="card-body">
					<h5 class="card-title">
						{{technique.name}}</h5>
					<hr>
					<p class="card-text">
						{{technique.description}}
					</p>
					<p class="mb-2">
						<strong>Praticiens :</strong>
						<ul class="list-group shadow-sm">
							{% for praticien in technique.praticiens %}
								<li class="list-group-item">
									<a href="/praticien/{{praticien.slug}}">{{praticien.firstname}}
										{{praticien.lastname}}</a>
								</li>
							{% endfor %}
						</ul>
					</p>
					<p class="mb-2">
						<strong>Groupes :</strong>
						<ul class="list-group shadow-sm">
							{% for group in technique.groups %}
								<li class="list-group-item">
									<a href="/group/{{group.slug}}">{{group.name}}</a>
								</li>
							{% endfor %}
						</ul>
					</p>
					<a href="/" class="btn btn-danger">Retour</a>
					<a href="{{technique.link}}" class="btn btn-primary" target="_blank">Lien</a>
				</div>
			</div>

		</div>
	</section>
{% endblock %}
