{% extends 'base.html.twig' %}

{% block title %}Esprit sceptique - Liste des signalements
{% endblock %}

{% block body %}

	<section>
		<div class="container">
			{% for report in reports | reverse %}
				<div class="card mt-3 shadow mb-3">
					<div class="card-body flex-box">
						<div>Signalement -

							{{report.createdAt|date('d-m-Y')}}
							-
							{% if report.groupe %}
								{{report.groupe.name}}
							{% endif %}
							{% if report.groupe and report.praticien %}
								-
							{% endif %}
							{% if report.praticien %}
								{{report.praticien.firstName}}
								{{report.praticien.lastName}}
							{% endif %}
						</div>

						<div>
							<a href="/report/{{report.slug}}">
								<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewbox="0 0 16 16">
									<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
									<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
