{% extends 'base.html.twig' %}

{% block title %}Esprit sceptique - Signalement
	{{report.createdAt|date('d-m-Y')}}
{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<div class="card mt-3 shadow mb-3">
				<div class="card-body">
					<h5 class="card-title">
						Signalement -
						{{report.createdAt|date('d-m-Y')}}</h5>
					<hr>
					<div class="flex-box">
						<div>
							<p class="mb-2">
								<strong>Groupe/praticien visé par le signalement :</strong><br>
								<i>
									{% if report.groupe %}
										<a href="/group/{{report.groupe.slug}}">{{report.groupe.name}}</a>

									{% endif %}
									{% if report.groupe and report.praticien %}
										-
									{% endif %}
									{% if report.praticien %}
										<a href="/praticien/{{report.praticien.slug}}">
											{{report.praticien.firstName}}
											{{report.praticien.lastName}}</a>
									{% endif %}
								</p>
							</p>
						</i>

					</p>
				</div>
				<p class="card-text">
					{% if report.reporter %}
						<strong>Auteur du signalement :</strong>
						{{report.reporter}}<br>
					{% endif %}
					{% if report.reporterContact %}
						<strong>Contact de l'auteur :</strong>
						{{report.reporterContact}}<br>
					{% endif %}
				</p>
			</div>
			{% if report.description %}
				<hr>
				<div>
					<p>
						<strong>Description :</strong>
						{{report.description | raw}}<br></p>
				</div>
			{% endif %}
		</div>
	</div>
</div></div></section>{% endblock %}
